<div id="cari">
	<% @hasil.each do |barang| %>
		<span>
			<h1><%= barang.nama %></h1>
			<p><%= barang.jumlah %> barang</p>
			<button><%= link_to "order", { action: :order, barang_id: barang.id } %></button>
		</span>
	<% end %>
</div>